DATABASE_URL=postgresql://parking:parkingpass@localhost:5432/parkingdb
PORT=8036
NODE_ENV=development
REDIS_URL=redis://localhost:6379/36
MONGO_URI=mongodb://localhost:27017/parkingdb
KAFKA_BROKERS=localhost:9092
ELASTICSEARCH_URL=http://localhost:9200
